{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Atlanta Restaurant Finder">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Atlanta_Restaurant_Finder/home.css' %}">
    <script>
        function redirectToHome(event) {
            event.preventDefault();
            window.location.href = '/home';
        }

        function logout() {
            window.location.href = '../accounts/login/';
        }
    </script>
</head>
    <header>
        <h1>Atlanta Restaurant Finder</h1>
        <button onclick="logout()" class="logout-button">Logout</button>
    </header>
<body>
    <section>
        <iframe src="map.html" title="Restaurant Map" width="100%" height="100%" style="border:none"></iframe>
    </section>
</body>
</html>
