{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Atlanta Restaurant Finder">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'Atlanta_Restaurant_Finder/home.css' %}">

    <script>
        // Function to redirect to home page
        function redirectToHome(event) {
            event.preventDefault();
            window.location.href = '/home';
        }

        // Function to handle logout
        function logout() {
            window.location.href = '../accounts/login/';
        }
    </script>
</head>

<header>
    <!-- Logout button in the header -->
    <button onclick="logout()" class="logout-button">Logout</button>
</header>

<body>
    <section>
        <!-- Embedded map iframe -->
        <iframe src="https://joshuaderival.com/" title="Restaurant Map" width="100%" height="100%" style="border:none"></iframe>
    </section>
</body>
</html>

