<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Restaurant Finder</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUR66ihx1SRQ1oqLWlAnmUFuE9swuiWUI&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>

    <link rel="stylesheet" href="map.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
    <div id="search-container">
        <div id="search-bar">
            <label for="search-input"></label><input id="search-input" type="text" placeholder="Enter a restaurant type..." />
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div id="filter-container">
            <button class="filter-button" id="distance-filter" onclick="changeDistanceFilter()">Distance: All</button>
            <button class="filter-button" id="rating-filter" onclick="changeRatingFilter()">Rating: All</button>
            <button class="filter-button" id="favorites-filter"><i class="fas fa-star"></i></button><!--onclick="changeRatingFilter()"-->
        </div>
        <div id="results"></div>
        <div id="details"></div>
    </div>
    <div id="map"></div>
    <script src="map.js"></script>
</body>
</html>
