{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'Atlanta_Restaurant_Finder/styles.css' %}">
        <script>
            function redirectToHome(event) {
                event.preventDefault();
                window.location.href = '/home';
            }
        </script>
    </head>
    <body>
        <div class="form-container">
            <form method = "POST" id="login-form" class="form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="login-button">Login</button>
                <p>Don't have an account. Create one <a href ='/register'>here</a></p>
            </form>
        </div>
        <section >
            <img src="{% static "Atlanta_Restaurant_Finder/image/loginPage.jpg" %}">
        </section>
    </body>
</html>